/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* LAYOUT */

/* HEADER */

/* nav */
.navbar{
    /* debug */
    height: 80px;
    background-color: orange;
    /* /debug */
}
/* /nav */

/* jambotron */
.jambotron{
    background-color: #B4D0E7;
    /* debug */
    height: 450px;
}
.container-jumbotron{
    /* debug */
    height: 450px;
    border: 2px solid black;
    /* /debug */
    width: 70%;
    margin: 0 auto;
}
/* /HEADER */

/* MAIN */
.container{
    width: 70%;
    margin: 0 auto;

}

/* section first */
.title{
    /* debug */
    height: 50px;
    background-color: blueviolet;
    /* /debug */
    margin-top: 30px;
}

.checkbox{
    /* debug */
    height: 50px;
    background-color: yellow;
    
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.col{
    /* debug */
    height: 300px;
    /* /debug */
    background-color: red;
    border: 1px solid black;
    width: calc( 100% / 3);
}
/* /section first */

/* section second */
.team{
    /* debug */
    height: 200px;
    margin-bottom: 20px;

}


.section-left{
    /* debag */
    width: 60%;
    background-color: palevioletred;
}

.section-right{
    /* debug */
    width: 40%;
    background-color: lightseagreen;
}
/* /section second */ 

/* section fifth  */
.drowbox-business{
    /* debug */
    height: 200px;
    background-color: lightskyblue;
    /* /debug */
    margin-top: 20px;

}

/* <!-- section sixth --> */
.boxs{
    width: 100%;
    margin-top: 20px;
}


.box{
    /* debug */
    height: 300px;
    width: calc(100% / 3);
}

.logo{
    height: 150px;
    width: calc( 100% / 2);
}

.one{
    background-color: #A2D39B;
}

.two{
    background-color: #61082B;
}

.three{
    background-color: #0093CE;
}

.four{
    background-color: #FF1C1C;
}

.center{
    background-color: #F5F5F5;
}

.five{
    background-color: #D5001F;
}

.six{
    background-color: #B4D0E7;

}

.seven{
    background-color: #0D2481;
}

.eight{
    background-color: #FFD830;
}
/* <!-- /section sixth --> */

/* <!-- section seventh --> */
/* debag */
.section-seventh{
    background-color: #B4D0E7;
}
/* <!-- /section seventh --> */

/* <!-- section eighth --> */
.list{
    /* debug */
    height: 350px;
    background-color: brown;
    margin-top: 20px;
    /* <!-- /section eighth --> */
}
/* /MAIN */

/* FOOTER */
.footer{
    background-color: black;
    height: 500px;
}

.cont-list{
     padding-top: 50px;
}

.col-footer{
    /* debug */
    height: 350px;
    width: calc( 100% / 5);
    border: 1px solid white;
}


/* /FOOTER */