/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMON */
body{
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
    object-fit: cover;
}

ul{
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: none;
}

/* UTILITY */
.btn{
    background-color: #0061FF;
    padding: 7px 15px;
    color: white;
    display: inline-block;
    
}

.btn:hover{
    background-color: #0D2481;
}

.main-texts{
    font-size: 12px;
}

.section{
    padding-top: 50px;
}
/* UTILITY */


.list-col{
    padding-top: 20px;
    padding-bottom: 20px;
}

.col li{
    padding-bottom: 10px;
}


     /* [LAYOUT] */
/* HEADER */

/* nav */
.navbar{
    /* debug */
    height: 60px;
    display: flex;
    justify-content: space-between;
    line-height: 60px;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: white;
    
    
}

.logo-header{
    margin-left: 1rem;
    
}

.logo-header img{
    vertical-align: middle;
    max-width: 100%;
    object-fit: cover;
}

.nav-left,
.nav-right{
    display: flex;
}

.menu-header > li{
    padding: 0 1rem;
}

.menu-header{
    display: flex;
}

.button-header{
    margin-right: 1rem;
}

.nav-right .btn{
    display: inline;
}
/* /nav */

/* jambotron */
.jambotron{
    background-color: #B4D0E7;
    /* debug */
    height: 560px;
    padding-top: 110px;
}
.container-jumbotron{
    /* debug */
    /* height: 350px;
    border: 2px solid black; */
    /* /debug */
    width: 60%;
    margin: 0 auto;
}

.title-header{
    font-size: 50px;
}

.container-header{
    padding-top: 25px;
}

.header-text{
    width: 40%;
}

.header-img{
    width: 60%;
    
}

.par-jambo{
    padding-bottom: 50px;
}

.jambotron .btn{
    margin-bottom: 30px;
    
}

.arrow-jambo{
    font-size: 30px;
}

/* /HEADER */

/* MAIN */
.container{
    width: 55%;
    margin: 0 auto;

}

/* section first */


.checkbox{
    padding: 20px 0;
    
}

.check{
    margin: 0 10px;
}

.circle{
    width: 15px;
    height: 15px;
    border: 4px solid blue;
    border-radius: 50%;
}

.circle-two{
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    

}

.section-first .check{
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}


.col{
    /* debug */
    height: 800px;
    /* /debug */
    /* background-color: red; */
    border: 1px solid black;
    width: calc( 100% / 3 - 10px);
}

.col:nth-child(2){
    margin: 0 15px;
}

.list-col{
    margin-top: 20px

}

.col li{
    margin-bottom: 10px;
}

.col a{
    display: block;
    text-align: center;
}
.title-col{
    text-align: center;
    border-bottom: 1px solid black;
    padding: 5px;
}

.info-Drop{
    padding: 20px;

}

.money{
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.alternate-link{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.link{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
    color: #0061FF;

}

.info-Drop hr{
    margin-bottom: 20px;
    width: 30px;
}
    

.blue{
    color: #0061FF;
}

/* /section first */

/* section second */
.second .title-col{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.team{
    /* debug */
    margin-bottom: 20px;

}

.subtitle{
    margin-top: 20px;
    margin-bottom: 20px;
}


.section-left{
    width: 60%;
    padding: 20px;
    border: 1px solid black
}
    


.section-right{
    /* debug */
    width: 40%;
    padding: 20px;
    border: 1px solid black;
    position: relative;
}

.section-right .btn{
    position: absolute;
    right: 10px;
}
/* /section second */ 

/* section thrird */

.partner{
    width: 60%;
}

.partner-text{
    width: 40%;
    padding: 20px;
}

.paragh-partner{
    padding: 20px 0;
}

.partner-text .btn{
    background-color: white;
    color: black;
    border: 1px solid black;
    display: inline-block;
}

.partner-text .btn:hover{
    background-color: lightgray;
}
/* /section thrird */

/* section fourth */
.card{
    padding: 20px;
}

.dropnoxbusiness-title{
    padding-bottom: 20px;
}

.dropnoxbusiness-subtitle{
    padding: 20px 0;
}

.second-col .col{
    border: unset;
}
/* /section fourth */

/* section fifth  */

.fifth a{
    text-decoration: underline;
    color: #0061FF;
}

/* <!-- section sixth --> */
.boxs{
    width: 100%;
    margin-top: 20px;
}

.sixth img{
    filter: invert(1);
    height: 100%;
    object-fit: contain;
    width: 50%;
}

hr{
    width: 40px;
    margin-top: 20px;
}
.box{
    /* debug */
    height: 300px;
    width: calc(100% / 3);
}

.box.flex{
    text-align: center;
}

.logo{
    height: 150px;
    width: calc( 100% / 2);
}

.one{
    background-color: #A2D39B;
    border: 10px solid #D1E9CD;
}

.two{
    background-color: #61082B;
}

.three{
    background-color: #0093CE;
}

.four{
    background-color: #FF1C1C;
}
/* center */
.center{
    background-color: #F5F5F5;
    padding: 25px;
    overflow: auto;
}

.box.center img{
    filter: revert;
    width: 40%;
    height: 55px;
    
}

.paper{
    padding: 20px 0;
}

.lorem{
    padding-top: 80px;
}
/* /center */
.five{
    background-color: #D5001F;
}

.six{
    background-color: #B4D0E7;

}

.seven{
    background-color: #0D2481;
}

.eight{
    background-color: #FFD830;
}
/* <!-- /section sixth --> */

/* <!-- section seventh --> */
/* debag */
.seventh{
    background-color: #B4D0E7;
    height: 300px;
}

.container-seventh{
    padding-top: 50px;
}

.viola-text{
    width: 50%;

}

.section-button{
    width: 50%;
    position: relative;
}

.seventh .btn{
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    color: black;
}

.seventh .btn:hover{
    background-color:lightgoldenrodyellow ;
}

.viola{
    color: #610831;
 }

 /* <!-- /section seventh --> */

 /* <!-- section eighth --> */
.questions{
    padding: 30px 0;
}

.questions li:nth-child(1){
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.questions li:nth-child(2){
    border-bottom: 1px solid black;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.questions li:nth-child(3){
    border-bottom: 1px solid black;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}
/* <!-- /section eighth --> */

/* /MAIN */

/* FOOTER */
.footer{
    background-color: black;
    color: white;
    height: 500px;
    margin-top: 50px;
}

.cont-list{
     padding-top: 50px;
}

.col-footer{
    /* debug */
    height: 350px;
    width: calc( 100% / 5 );
    
    
    
}

.col-footer li{
    padding-top: 20px;
    
}

.cont-list hr{
    color: white;
    


}

.text-footer{
    margin-right:10px;
    margin-top: 20px;
}


/* /FOOTER */